.container
{
    width: 100%;
    height: 100vh;
    background-image: url(Image/Image/SkinCancer.png);
    background-size: 1200px 700px;
    position: relative;
    padding-top: 30px;
    box-sizing: border-box;
	background-repeat: no-repeat;
}